<ul>
    {% if categories %}
        {% for cat in categories %}
            {% if cat == current_category %}
                <li>
                    <strong>
                        <a href="{% url 'rango:show_category' cat.slug %}">{{ cat.name }}</a>
                    </strong>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'rango:show_category' cat.slug %}">{{ cat.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
</ul>